# Required
SOURCE_RPC_URL=<source-rpc-url>
SIGNER_ACCOUNT_ADDRESS=<signer-account-address>
SIGNER_ACCOUNT_PRIVATE_KEY=<signer-account-private-key>
SLOT_ID=<slot-id>
SNAPSHOT_CONFIG_REPO=https://github.com/powerloom/snapshotter-configs
SNAPSHOT_CONFIG_REPO_BRANCHES=eth_aavev3_lite_v2,eth_uniswapv2-lite_v2
SNAPSHOTTER_COMPUTE_REPO=https://github.com/powerloom/snapshotter-computes
SNAPSHOTTER_COMPUTE_REPO_BRANCHES=eth_aavev3_lite,eth_uniswapv2_lite_v2
PROST_RPC_URL=https://rpc-prost1m.powerloom.io
PROTOCOL_STATE_CONTRACT=0xF68342970beF978697e1104223b2E1B6a1D7764d
DATA_MARKET_CONTRACTS=0xc390a15BcEB89C2d4910b2d3C696BfD21B190F07,0x8023BD7A9e8386B10336E88294985e3Fbc6CF23F
NAMESPACES=AAVEV3,UNISWAPV2
POWERLOOM_REPORTING_URL=https://nms-testnet-reporting.powerloom.io
PROST_CHAIN_ID=11170
LOCAL_COLLECTOR_PORT=50051
CORE_API_PORT=8002
SUBNET_THIRD_OCTET=1
MAX_STREAM_POOL_SIZE=2
STREAM_POOL_HEALTH_CHECK_INTERVAL=30
SLOT_CONTROLLER_ADDRESS=0xa4EC4bc7e71c080dC353f74239217ac92f4c52dA
WALLET_HOLDER_ADDRESS=<wallet-holder-address>
# Optional
DOCKER_NETWORK_NAME=
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
SLACK_REPORTING_URL=
WEB3_STORAGE_TOKEN=
TELEGRAM_REPORTING_URL=https://tg-testing.powerloom.io/
TELEGRAM_CHAT_ID=
DEV_MODE=false
OVERRIDE_DEFAULTS=true
LITE_NODE_BRANCH=main
