# Required
SOURCE_RPC_URL=<source-rpc-url>
SIGNER_ACCOUNT_ADDRESS=<signer-account-address>
SIGNER_ACCOUNT_PRIVATE_KEY=<signer-account-private-key>
SLOT_ID=<slot-id>
SNAPSHOT_CONFIG_REPO=https://github.com/powerloom/snapshotter-configs
SNAPSHOT_CONFIG_REPO_BRANCHES=eth_aavev3_lite_v2,eth_uniswapv2-lite_v2
SNAPSHOTTER_COMPUTE_REPO=https://github.com/powerloom/snapshotter-computes
SNAPSHOTTER_COMPUTE_REPO_BRANCHES=eth_aavev3_lite,eth_uniswapv2_lite_v2
PROST_RPC_URL=https://rpc-powerloom-devnet-0vzgsnoeop.t.conduit.xyz/
PROTOCOL_STATE_CONTRACT=0x865EFcdA6A4a46177dFddff3BeDa2dbD98a892F3
DATA_MARKET_CONTRACTS=0x15c2900346eADf32165c78c317943B48C33A0429,0xaa4604f88f75B036fD09Bea876e4835731655ebf
NAMESPACES=AAVEV3,UNISWAPV2
PROST_CHAIN_ID=11170
LOCAL_COLLECTOR_PORT=50051
CORE_API_PORT=8002
SUBNET_THIRD_OCTET=1
MAX_STREAM_POOL_SIZE=2
STREAM_POOL_HEALTH_CHECK_INTERVAL=30
SLOT_CONTROLLER_ADDRESS=0x1B4e285a9fb8e1F3784D8eA0a444CFaF0867bfec
WALLET_HOLDER_ADDRESS=<wallet-holder-address>
# Optional
DOCKER_NETWORK_NAME=
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
WEB3_STORAGE_TOKEN=
TELEGRAM_REPORTING_URL=https://tg-testing.powerloom.io/
TELEGRAM_CHAT_ID=
DEV_MODE=false
OVERRIDE_DEFAULTS=true
LITE_NODE_BRANCH=main
